@use '@styles/variables.scss' as *;

.tosContainer {
  max-width: $max-width;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include standardPadding;

  > section {
    color: $text-bold;

    > ul {
      margin: 24px 0 0 24px;
    }
  }
}
