@use '@styles/variables.scss' as *;

.featuredOffersSection {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 96px 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  > .offersContainer {
    @include horizontal-scroll-grid(4, 16px);
  }
}
