@use '@styles/variables.scss' as *;

.homePage {
  width: 100%;
  @include pageBelowNavbar;
  @include standardPadding;
  padding-bottom: 48px;

  > .content {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
  }
}

